:root{
  --base-colour: rgb(255, 255, 255);
  --base-text-colour: rgb(0, 0, 0);
  --base-light-text-colour: rgb(119, 119, 119);
  --base-border:rgb(226, 226, 226);
  --base-highlight: #bb5656; 
  --base-highlight-hover:#a73838;
  --base-hover: rgb(226, 226, 226);
  --base-hover-darkened: #c0c0c0;
  --base-card-bg-up: rgb(238, 229, 229);
  --base-card-bg: #bb5656;
}

.darkmode{
  --base-colour: rgb(58, 58, 63);
  --base-text-colour: rgb(255, 255, 255);
  --base-light-text-colour: rgb(226, 226, 226);
  --base-border:rgb(36, 36, 39);
  --base-highlight: #C1B4A3; 
  --base-highlight-hover:#ac9d8a;
  --base-hover: rgb(36, 36, 39);
  --base-hover-darkened: rgb(31, 31, 34);
  --base-card-bg-up: rgb(58, 58, 63);
  --base-card-bg: #C1B4A3;
}

*{
  padding: 0;
  margin: 0;
  color: var(--base-text-colour);
}

body{
  width: 100vw;
  background-color: var(--base-colour);
}
.categories-drop-down-container{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.categories-drop-down-container ul{
  height: 100%;
  width: 30%;
  list-style: none;
  background-color: var(--base-highlight);
  display: flex;
  align-items: center;
}

.categories-drop-down-container ul li{
  display: inline-block;
  position: relative;
  color: var(--base-text-colour);
  height: 100%;
  width: 100%;
}

.categories-drop-down-container ul li a{
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  height: 100%;
  width: 100%;
}

.categories-drop-down-container ul li ul.dropdown-menu li{
  display: block;
  background-color: var(--base-hover);
}

.categories-drop-down-container ul li ul.dropdown-menu{
  width: 100%;
  background-color: var(--base-hover);
  position: absolute;
  z-index: 999;
  display: none;
}

.categories-drop-down-container ul li a:hover{
  background-color: var(--base-highlight-hover);
}

.categories-drop-down-container ul li:hover ul.dropdown-menu{
  display: block;
}

/* Media querys start at 1632px width */
/* HEADER */
/* Contact Section */
header{
height: clamp(110px, 15vh, 165px);
width: 100%;
position: fixed;
z-index: 10;
background-color: var(--base-colour);
}

.contact-section{
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--base-border);
  height: 30%;
}

.phone-container{
  display: flex;
  width: 80%;
  height: 100%;
  justify-content:space-between;
  align-items: center;
  color: var(--base-text-colour);
}

#customer-service{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  margin-left: 10px;
  width: 15%;
  height: 100%;
  color: var(--base-text-colour);
  background-color:var(--base-highlight);
  border-color: var(--base-highlight);
  
}

#customer-service:hover{
  background-color: var(--base-highlight-hover);
}

#phone-num .down-arrow{
  margin-left: 10% ;
}

#call-order{
  font-weight: 200;
  position: absolute;
  left: 50%;
  color: var(--base-light-text-colour);
}

.darkmode-button{
  background-color: var(--base-colour);
  border: 0;
  margin-right: 10px;
}

.darkmode-button img:last-child{
  display: none;
}

.darkmode .darkmode-button img:first-child{
  display: none;
}

.darkmode .darkmode-button img:last-child{
  display: block;
}



#currency-select:hover{
  background-color:var(--base-hover);
}

#language-select:hover{
  background-color: var(--base-hover);
}

.socials-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 10%;
  height: 100%;
}
.socials-container img{
aspect-ratio: 1/1;
height: 80%;
margin-top: 5px;
}

/* Mid Section Header */
/* contains: search bar,  account, wishlist, in cart etc*/
.mid-section{
  display: flex;
  align-items: center;
  height: 42%;
  border-bottom: 2px solid var(--base-border);
}

.down-arrow{
  height: 10px;
  width: 10px;
}

.website-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26%;
  height: 100%;
}

.search-bar{
  display: flex;
  justify-content: right;
  align-items: center;
  width: 40%;
  height: 100%;
}

#categories-button{
  height: 50%;
  background-color:var(--base-hover);
  border: 2px solid var(--base-border);
  padding-left: 5px;
  padding-right: 5px;
}

#categories-button:hover{
  background-color:var(--base-hover-darkened);
}

#search-bar-input{
  width: clamp(200px, 55%, 70%);
  height: 44%;
  border-radius: 1px;
  border-left: 0;
  border-right: 0;
  border-color: var(--base-border);
  background-color: var(--base-colour);
}

#search-button{
  height: 50%;
  background-color: var(--base-highlight);
  border: 2px solid var(--base-highlight);
  padding-left: 5px;
  padding-right: 5px;
  width: 75px;
}

#search-button:hover{
  background-color: var(--base-highlight-hover);
  border-color: var(--base-highlight-hover);
}

.account-container{
  display: flex;
  align-items: center;
  justify-content: right;
  width: 15%;
  height: 100%;
}

.account{
  display: flex;
  position: relative;
  align-items: center;
  height: 80%;
}

.account:hover > #account-button, .account:hover, .account:hover > #account-logo{
  background-color: var(--base-hover);
}

.account-container .account .login-popup{
  position: absolute;
  top: 100%;
  left: -150px;
  display: none;
  height: 150px;
  width: 400px;
  background-color: var(--base-hover);
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.185);
}

.login-popup #close-x:hover{
  background-color: #863030;
}

.login-popup #close-x{
  z-index: 999;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 25px;
  width: 25px;
  background-color: #a73838;
  border: 0;
}

.login-popup .login{
  width: 80%;
  height: 40px;
}

.login-popup .login p{
  width: fit-content;
}

.login-popup .login input{
  color: black;
}

.login button{
  color: black;
  background-color: white;
  width: 50px;
  height: 25px;
}

#account-logo{
  height: 70%;
}

#account-button{
  font-size: medium;
  background-color: var(--base-colour);
  border: 0;
  margin-right: 10px;
}

.shopping-wishlist-cart{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 19%;
}

.wishlist{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 70%;
  width: clamp(100px ,120px, 130px);
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid var(--base-border);
}

.wishlist:hover, .wishlist:hover > #wishlist-button{
  background-color: var(--base-hover);
}

#wishlist-logo{
  height: 90%;
}

#wishlist-button{
  background-color: var(--base-colour);
  border: 0;
}

.cart{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 70%;
  width: clamp(100px ,120px, 130px);
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid var(--base-border);
}

.cart:hover, .cart:hover > #cart-button{
  background-color: var(--base-hover);
}

#cart-logo{
  height: 60%;
}

#cart-button{
  background-color: var(--base-colour);
  border: 0;
}

/* custom search section */

.custom-search-section{
  display: flex;
  height: 25%;
  border-bottom: 2px solid var(--base-border);
}

.categories-drop-down-container{
  display: flex;
  align-items: center;
  width: 25%;
}

#categories-drop-down-button{
  border: 0;
  width: clamp(200px, 20%, 260px);
  margin-left: 10%;
  height: 100%;
  background-color: var(--base-highlight);
  border: 2px solid var(--base-highlight);
}

#categories-drop-down-button:hover{
  background-color: var(--base-highlight-hover);
  border-color: var(--base-highlight-hover);
}

.category-quick-links{
  width: 50%;
  border-right: 2px solid var(--base-border) ;
  border-left: 2px solid var(--base-border) ;
}

.category-quick-links nav{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.category-quick-links nav ul{
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.category-quick-links nav ul li{
  display: flex;
  justify-content: center;
  width: 10%;
  height: 80%;
}

.category-quick-links nav ul li button{
  background-color: var(--base-colour);
  border: 0;
  width: 100%;
  height: 100%;
}

.category-quick-links nav ul li button:hover{
  background-color: var(--base-hover);
}

.nav-bar-bottom{
  display: flex;
  align-items: center;
  width: 25%;
  height: 100%;
}

.nav-bar-bottom nav{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  
  
}

.nav-bar-bottom nav ul{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  list-style: none;
  justify-content: space-evenly;
}

.nav-bar-bottom nav ul li{
  display: flex;
  justify-content: center;
  width: 20%;
  height: 80%;
}

.nav-bar-bottom nav ul li button{
  background-color: var(--base-colour);
  border: 0;
  width: 100%;
  height: 100%;
}

.nav-bar-bottom nav ul li button:hover{
  background-color: var(--base-hover);
}